.botao_cadastro {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.botao_cadastro:hover {
	opacity: 0.8;
}
.botao_sair {
	    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-top: 27.1%;
}
h2 {
	color: #f44336;
}
.field_cadastro{
    border: white solid;
	margin-right: 50%;
	margin-left: 20%;
}
.field_estoque{
	border: white solid;
	margin-right: 20%;
	margin-left: 51%;
    margin-top: -32.3%;
}
.field_estoque tr{
    border:1px;
}
