.botao_cadastro {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.botao_cadastro:hover {
	opacity: 0.8;
}
.botao_sair {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 20%;
    margin-right: 20%;
    border: none;
    cursor: pointer;
    width: 60%;
    margin-top: 27.1%;
}
.produto h1 {
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.produto input{
    /*margin-left: 35%;*/
    /*margin-bottom: -60px;*/
    margin-top: 10px;
}
.produto ul{
    list-style: none;
    font-weight: bold;
    color: white;
}
.produto fieldset{
    border: solid;
    border-radius: 15px;
    color: white;  
}
.produto li{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.field_estoque tr{
    border:1px;
    color: white;
}
.produto table, tr, th{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
/*.produto label{
    font-size: .85em;
font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
color: red;
}*/
.produto input{
      display: flex;
      aling-items: center;
      justify-content: space-between;
}
.produto label{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
