.btn li{
  font-family: arial;
  font-size:14px;
  font-weight:700;
  text-transform: uppercase;
  border:none;
  padding:10px;
  display:inline-block;
  text-decoration: none;
  background:#696969;
  color:#fff;
  box-shadow:0 5px 0 #C0C0C0;
	position: relative;
	transition: 0.5s;
	margin: 10px;
}
.btn li:hover{
  background:#006000;
  box-shadow:0 5px 0 #003f00;
}
