.btn li{
  font-family: arial;
  font-size:14px;
  font-weight:700;
  text-transform: uppercase;
  border:none;
  padding:10px;
  display:inline-block;
  text-decoration: none;
  background:#696969;
  color:#fff;
  box-shadow:0 5px 0 #C0C0C0;
	position: relative;
	transition: 0.5s;
	margin: 10px;
}
.btn li:hover{
  background:#006000;
  box-shadow:0 5px 0 #003f00;
}
.container ul{
	margin-left: 13%;
	margin-right: 15%;
}
.container img{
	height: 100px;
	width: 600px;
	margin-left: 15%;
	margin-right: 15%;
}
.info p{
	font-family: bitstream vera sans;
	margin: 0 auto;
}
.info img{
	width: 500px;

}
.info fieldset{
	margin: 20px;
}
.principal img{
	width: 450px;
	height: 350px;
	float: right;
}
.principal fieldset{
	margin-right: 15%;
	margin-left: 15%;
}