body{
	text-align: center;
	

}

h1{
	background-color:gray;
	
}

table{
	position: fixed;
	margin-left: 40em;
	margin-right: 70em;
	margin-top: 5em;
}

  td,  th {
    border: 1px solid #ddd;
    padding: 8px;

    
}

.titulo{
	background-color: green;
	font-family: sans-serif;
}